body{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(../Media/images/13ff706fa41d263150405c550747a639.png);
    background-position: center;
    background-size:cover;
    text-align: center;
}
.fex{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: 80%;
    display: flex;
}
header{
    scroll-snap-align: none;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 2%;
    text-align: left;
    display: block;
}
.input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 26px;
    background: #F0F1F8;
    border-radius: 40px;
    padding:5%;
    resize: none;
    margin-top: 0PX;
}
.inputMassige{
    min-height: 110px;
    height: 100%;
    width: 100%;
    border: none; 
    outline: none;
    font-size: 26px;
    background: #F0F1F8;
    border-radius: 40px;
    padding: 4%;
    resize: none;
    margin-top: 0PX;
}
.BOXX{
    padding-bottom: 0PX;
    margin-top: 2%;
}
.texthed{
    margin: 0PX;
    padding: 1%;
    color: gray;
    font-size: 26px;
}
button{
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 5%;
    width: 60%;
    background-color: #817FFD;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.hede{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: bold;
    color: #4442a4;
    text-align: left;
}
.photo_maile{
    height: 50%;
    width: 100%;
}
.smailinfo{
    margin-bottom: 0ox;
    margin-top: 0px;
    padding: 0px;
    width: 80%;
    display: flex;
    font-size: 20px;

}
.iconeinrghet{
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: auto;
    width: 8%;
    height: 8%;
}
.marge{
    margin-top: 4%;
}
.actionicon{
    width: 15%;
    height: 15%;
    margin-right: 5%;
}
.socelicon{
    margin-top: 15%;
    text-align: center;

}
.hent{
    font-size: 20px;
    margin-bottom: 0px;
}

@media screen and (max-width: 1400px) {
    body{
        background-repeat: no-repeat;
        background-image: url(../Media/images/13ff706fa41d263150405c550747a639.png);
        background-position: center;
        background-size:cover;
        text-align: center;
    }
    .fex{
        margin-top: 8%;
        width: 80%;
        display: flex;
        text-align: center;
    
    }
    .hent{
        font-size: 18px;
        margin-bottom: 0px;
    }
    .center{
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding: 0%;
        text-align: left;
        display: block;
    }
    .texthed{
        margin: 0PX;
        padding: 1%;
        color: gray;
        font-size: 22px;
    }
    button{
        margin-top: 5%;
        margin-left: 5%;
        padding: 3%;
        width: 60%;
        background-color: #817FFD;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
    }
    .hede{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: normal;
        font-size: 40px;
        font-weight: bold;
        color: #4442a4;
        text-align: left;
    }
}

@media screen and (max-width: 1000px) {
    body{
        background-image: url(../Media/images/boxbackgrond.png);
    }
    .fex{
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 80%;
        display: block;
    
    }
    .hent{
        font-size: 15px;
        margin-bottom: 0px;
    }
    .center{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        padding: 0%;
        text-align: left;
        display: block;
    }
    .photo_maile{
        height: 50%;
        width: 100%;
        display: none;
        z-index: 1;
    }
}