:root{
    --primary-color: #4B56D2;
    --secondary-color: #82C3EC;
    --dark-purple-color :#472183;
    --sugar-color :#F1F6F5;
    --night-color :#656565;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(../Media/images/boxbackg.png);
    background-position: top;
    background-size:cover;
}
.layoyr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 90%;
    display: flex;
}

#namesSelection{
    background-color: transparent;
    border: none;
    font-size: 3em;
    font-weight: bold;
    color: var(--sugar-color);
}

.photo{
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-left: 5%;
    display: block;
}
.prsonalphoto{
    border: 10px;
    border-style: solid ;
    border-color: #656565;
    border-radius: 350px;
    width: 70%;
    height: 65%;
}
.icons{
    margin-left: 3%;
    margin-right: auto;
    display: block;
    text-align: left;
}
.information{
    display: block;
    text-align: left;
    padding: 2%;
    color: white;
    width: 80%;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 30px;
    padding-left: 15%;
    width: 90;
}
h3{
    font-size: 20px;
    padding-left: 30%;
    width: 80%;
    margin-top: 2%;
}


@media screen and (max-width: 1600px) {
    body{
        background-image: url(../Media/images/back\ 1600.png);
    }
    .icons{
        margin-top: 10%;
        margin-left: 30%;
        margin-right: auto;
        display: flex;
    }
}
@media screen and (max-width: 1200px) {
    body{
        background-image: url(../Media/images/back\ 12000.png);
        display: block;
    }
    .icons{
        margin-top: 10%;
        margin-left: 30%;
        margin-right: auto;
        display: flex;
    }
    .layoyr{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 100%;
        display: block;
        text-align: center;
    }
    .prsonalphoto{
        border: 10px;
        border-style: solid ;
        border-color: #656565;
        border-radius: 350px;
        width: 50%;
        height: 70%;
        margin-top: 5%;
    }
    .information{
        display: block;
        text-align: left;
        padding: 2%;
        color: white;
        width: 60%;
        margin-top: 15%;
    }
}
@media (max-width: 576px) {
    .information{
        margin-top: 10px;
        width: 100%;
    }
    #personInfo{
        font-size: 1.5em;
        margin-top: 10px;
        padding-left: 0;
    }
    #personDetails{
        font-size: 1em;
        width:100%;
        padding-left: 0;
    }
    #twitter img{
        width: 50px;
        height: 50px;
    }
    #email img{
        width: 50px;
        height: 50px;
    }
    .icons{
        margin-left: 10px;
    }
}